body {
	padding-top: 70px;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

#content {
	border: 1px solid #bdc3c7;
	padding: 15px;
	max-width: 1146px;
	width: 80%;
	margin: 0 auto;
	background: #2c3e50;
	color: #ecf0f1;
	font-size: 17px;
}